<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My web</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <form id="form">
        <input type="text" placeholder="Currency" autofocus autocomplete="off" name="currency" id="currency">
        <input type="submit" value="Get conversion">
    </form>
    <br>
    <div id="result"></div>
</body>
</html>